.encabezado{
    background-color: var(--color3);
    height: 0.5rem;
}
.encabezado a{   
    display: flex;
    justify-content: flex-start;
}
.encabezado img{
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    height: 0.3rem;
}
.products{
   height: 1.5rem;
   background-image: url(./../img/foto.png);
   background-position: center;
   opacity: 0.8;

   display: flex;
   flex-direction: column;
   
}
.products h1{
    color: var(--color2);
    font-size: 0.3rem;
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    
}

.products h4{
    color: var(--color2);
    font-size: 0.2rem;
    margin-left: 0.1rem;
}
.products button{
    width: 0.7rem;
    text-decoration: none;
    border: none;
    margin-top: 0.05rem;
    width: 1rem;
    cursor: pointer;
    padding: 0.1rem;
    margin-left: 0.1rem;
   
    font-size: 0.15rem;
    color: var(--color1);
    border-radius: 2rem;
    background-color: var(--color2);
    font-family: 'Fredoka One', cursive;

    -webkit-box-shadow: 7px 10px 24px -3px rgba(47,43,51,1);
    -moz-box-shadow: 7px 10px 24px -3px rgba(47,43,51,1);
    box-shadow: 7px 10px 24px -3px rgba(47,43,51,1);
}
.Our{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Our h1{
    font-family: 'Fredoka One', cursive;
    font-size: 0.3rem;
}
.Our img{
    width: 1.2rem;
}
footer{
    background-color: var(--color2);
    margin-top: 1rem;
}
.X {
    height: 0.3rem;
    display: flex;

    justify-content: space-around;
}
.X img{
    margin-top: 0.1rem;
    height: 0.4rem;
}
.X button{
    text-decoration: none;
    border: none;
    margin-top: 0.05rem;
    width: 1rem;
    cursor: pointer;
    margin-left: 0.1rem;
   
    font-size: 0.15rem;
    color: var(--color1);
    border-radius: 2rem;
    background-color: var(--color3);
    font-family: 'Fredoka One', cursive;

    -webkit-box-shadow: 7px 10px 24px -3px rgba(47,43,51,1);
    -moz-box-shadow: 7px 10px 24px -3px rgba(47,43,51,1);
    box-shadow: 7px 10px 24px -3px rgba(47,43,51,1);
}
.Z{
    height: 0.6rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.2rem;

    text-shadow: 4px 1px 10px var(--color1);
}
.Z a{
    text-decoration: none;
    font-size: 0.13rem;
    color: var(--color1);
    margin-top: 0.05rem;
    margin-left: 0.1rem;
    font-family: 'Fredoka One', cursive;   
}
.H{
    margin-left: 0.2rem;
}
.H h4{
    font-size: 0.25rem;
}
.H h5{
    font-size: 0.1rem;
}
